body {
  background-color: #fff;
  font-family: Georgia,serif;
  font-size: 1.0em; }

header {
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  background-color: #3680C7;
  color: #fff; }
  header .header-container {
    margin: 0 auto;
    height: 40px;
    max-width: 600px;
    padding: 5px; }
    header .header-container img {
      float: left; }
  header .title {
    display: inline-block;
    font-size: 20px;
    margin-top: 6px;
    margin-left: 10px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase; }
  header button {
    background-color: #fff;
    border: 1px solid #000;
    height: 24px; }
  header ul {
    float: right; }
    header ul li {
      display: inline-block;
      margin-top: 3px; }

.container {
  margin-top: 40px;
  padding-top: 20px; }

.sudoku {
  margin: 0px auto; }
