body {
	background-color: #fff;
	font-family: Georgia,serif;
	font-size: 1.0em;
}

header {
	position: absolute;
	top: 0;
	height: 40px;
	width: 100%;
	background-color: #3680C7;
	color: #fff;
	
	.header-container {
		margin: 0 auto;
		height: 40px;
		max-width: 600px;
		padding: 5px;

		img {
			float: left;
		}
	}
	
	.title {
		display: inline-block;
		font-size: 20px;
		margin-top: 6px;
		margin-left: 10px;
		font-family: Helvetica, sans-serif;
		text-transform: uppercase;
	}

	// Shamelessly copied from Bootstrap
	button {
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 4px;
		height: 24px;

		&:hover {
			color: #333;
			background-color: #e6e6e6;
			border-color: #adadad;
		}

		&:active {
			box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
		}
		
	}

	ul {
		float: right;

		li {
			display: inline-block;
			margin-top: 3px;
		}
	}

}

.container {
	margin-top: 40px;
	padding-top: 20px;
}

.sudoku {
	margin: 0px auto;
}
