body {
	background-color: #fff;
	font-family: Georgia,serif;
	font-size: 1.4em;
}

.container {
	width: 400px;
	margin: 0 auto;
}

.board-block {
	display: inline-block;
	border: 1px solid #000;
}

.board-row {
	clear: both;
}

.board-row(3) {
	
}

.board-cell {
	display: inline-block;
	position: relative;
	border: 1px solid #999;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.board-cell:nth-child(3) {
	clear: left;
}

.board-cell.editable {
	color: #999;
}

.board-cell.editable:hover {
	border: 1px solid #ff0000;
	position: relative;
}

#numberPopup {
	background-color: #fff;
	display: none;
	position: absolute;
	top: 40px;
	z-index: 1;
}

